.mainStyle {
    align-items: center;
    justify-content: space-evenly;
    min-height: 60vh;

    input {
        height: 48px;
        max-width: 800px;
        width: 100%;

        border-radius: 8px;
        padding: 0 16px;
    }
}

.whiteSection {
    align-items: center;
    text-align: center;

    p {
        max-width: 50ch;
    }
}
