@use "./../../styles/variables" as color;

.btnStyle {
    height: 64px;
    width: 100%;

    border-radius: 8px;
    border: 0;

    font-size: 20;
    font-weight: bold;

    color: white;
}

.btnPurple {
    background-color: color.$colorPurple;
    
}


.btnBlue {
    background-color: color.$colorBlue;
}
