@use "./../../styles/variables" as color;
@use "./../../styles/margins" as padding;


.mainStyle {
    text-align: center;

    min-height: 75vh;
}

.svgCardContainer {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;

    margin-bottom: 124px;
}

.chartContainer {
    width: 100%;
    max-width: 624px;
    height: auto;
}
